body { background: #a9c8ee; margin: 0; font-family: sans-serif; }
.cloud-dashboard { padding: 49px; display: flex; }
.block-product-0 { color: #c66697; font-size: 18px; margin-bottom: 5px; }
.block-user-1 { color: #2cb8af; font-size: 18px; margin-bottom: 5px; }
.block-cart-2 { color: #d5965; font-size: 19px; margin-bottom: 5px; }
.block-cart-3 { color: #af8ba3; font-size: 14px; margin-bottom: 5px; }
.block-uploader-4 { color: #d76a03; font-size: 19px; margin-bottom: 5px; }